	<% if @cat.persisted? %>
		<input type="hidden" name="_method" value="PUT">
	<% end %>
	<label for = "cat_name">Name</label>
	<input name= "cat[name]" id="cat_name" type="text" value="<%= @cat.name %>">
	<br>

	<label for = "cat_age">Age</label>
	<input name= "cat[age]" id="cat_age" type = "text" value="<%= @cat.age %>">
	<br>

	<label for = "cat_birth_day">Birthday</label>
	<input name = "cat[birth_day]" id = "cat_birth_day" type = "date" value= <%= @cat.birth_day %>>
	<br>

	<label>Sex</label>
	<div>
		<input name="cat[sex]" id="cat_sex_m" type="radio" value="M" <%= "checked" if @cat.sex == "M"%>>
		<label for="cat_sex_m">Male</label>
		<input name="cat[sex]" id="cat_sex_f", type="radio" value = "F"  <%= "checked" if @cat.sex == "F"%>>
		<label for="cat_sex_f">Female</label>
	</div>
	<br>

	<label for="cat_color">Color</label>
	<select name="cat[color]">
		<option></option>
		<option <%= selected="selected" if @cat.color == "brown" %> value="brown">Brown</option>
		<option <%= selected="selected" if @cat.color == "black" %> value="black">Black</option>
		<option <%= selected="selected" if @cat.color == "white" %> value="white">White</option>
	</select>
	<br>

	<input type = "submit" value="Submit">